__pycache__/
*.pyc
.pytest_cache/
config/app_config.json
config/app.log
assets/templates/*.json
bin/*.dll
bin/*.exe
improve/
FFTool-Compiled/
.venv/
audio/
build/
dist/
*.spec
*.flac
*.iss
*.spec
*.bat