# Python
__pycache__/
*.pyc
.pytest_cache/
.venv/

# Build & packaging output
build/
dist/
FFTool-Compiled/

# App runtime / local config
config/app_config.json
config/app.log

# Local-only assets
assets/templates/*.json
bin/*.dll
bin/*.exe

# Misc / working folders
notes/
audio/

# Build & installer scripts
*.spec
*.iss
*.bat

# Audio test
*.flac
*.wav
*.mp3