# Python
__pycache__/
*.pyc
.pytest_cache/
.venv/
architecture.py

# Build & packaging output
build/
dist/
installer/

# App runtime / local config
config/*
*.html

# Local-only assets
assets/templates/*.json
assets/icons/*.ico
assets/splash/*.png
bin/*.dll
bin/*.exe

# Misc / working folders
notes/
audio/
licenses/

# Build & installer scripts
*.spec
*.iss
*.bat

# Audio test
*.flac
*.wav
*.mp3